{
  "node": {
    "args": [],
    "port": 18180,
    "rfcTimeout": 10,
    "bindAddr": "0.0.0.0",
    "name": "fangotango",
    "indexes": true,
    "feeAddr": "addfangowalletaddress",
    "feeViewKey": "addfangowalletprivareVIEWkey",
    "miningAddr": ""
  },
  "restart": {
    "terminateTimeout": 5,
    "errorForgetTime": 600,
    "maxCloseErrors": 3,
    "maxBlockTime": 2880,
    "maxInitTime": 900
  },
  "api": {
    "port": 8080
  },
  "pool": {
    "notify": {
      "url": "https://fangotango.hopto.org/nodes/pool/update",
      "interval": 30
    }
  },
}
